body {
  margin: 0;
}
.ntua_food_top {
  background-color: #474747;
  height: 35px;
  color: #ffffff;
}
.ntua_food_top ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.ntua_food_top a {
  display: inline-block;
}

.ntua_food_top ul > a > img {
  display: inline-block;
  height: 20px;
}

.ntua_food_nav img {
  display: inline-block;
  height: 50px;
}
.ntua_food_nav a {
  text-decoration: none;
}
.ntua_food_nav li {
  display: inline-block;
}
